<html>

<head>
    <title>AWMPC Donation and Refund Policy</title>
    <link rel="stylesheet" href="style.css">
</head>

<body bgcolor="#EDE0BB" text="#212121" style="font-size:14.0pt;line-height:115%;">
    <section>
        <h1>Donation Policy</h1>
        <p>Donations made to All World Mission Prayer Center, Inc. are made as voluntary gifts in accordance with 501(c)(3) policies. Donations are tax deductable, and any refunds for any donations will nullify the tax deductability attained before the refund was initiated.</p>
        <h2>Contacting Us</h2>
        <p>If you would like to contact us concerning any matter relating to Donations made or refunds, you may do so via the
            <a target="_blank" rel="nofollow" href="https://awmpc.org/request.html">contact form</a>, sending an email to
            awmpc&#64;a&#119;mpc.&#111;r&#103;, or writing a letter to 1189 S. De Anza Blvd. San Jose, CA 95129.</p>
        <p>This document was last updated on May 22, 2021</p>
    </section>
</body>

</html>