<p style="margin-bottom: .0001pt; line-height:
normal">&nbsp;&nbsp;<a href="./resources/documents/WMPCvsCanaan4Pages.pdf" target="_blank"> PDF文檔</a></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td rowspan="2" style="width:31px;height:35px;">
				<p align="center" style="margin-left:5.65pt;"><strong>DATE</strong></p>
			</td>
			<td rowspan="2" style="width:168px;height:35px;">
				<p align="center"><strong>迦南教會的聲明</strong></p>
			</td>
			<td colspan="2" style="width:769px;height:35px;">
				<p align="center"><strong>信</strong> <strong>望</strong> <strong>愛</strong> <strong>禱</strong>
					<strong>告</strong> <strong>中</strong> <strong>心</strong> <strong>的</strong> <strong>回</strong>
					<strong>應</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:420px;height:40px;">
				<p align="center"><strong>屬</strong>&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>世</strong></p>
			</td>
			<td style="width:349px;height:40px;">
				<p align="center"><strong>屬</strong>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<strong>靈</strong></p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:121px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2008</strong><strong>/</strong><strong>8</strong>
				</p>
			</td>
			<td style="width:168px;height:121px;">


				<p>信望愛禱告中心承諾以現金購買本會位於山景城的土地及建物。雙方簽訂買賣契約 。</p>
			</td>
			<td style="width:420px;height:121px;">


				<p>信望愛禱告中心(信望愛)和迦南台灣基督教會(迦南)簽署第一個買賣契約, 包括聖殿和兩棟住宅。通常由賣方負責出資的報告被定為買方出資。附錄內容包括信望愛同意按照現狀(as is)購買建築物。當時,
					信望愛沒有聘請律師和房地產經紀人。擁有房地產營業執照的幾位同工, 草草閱讀和約, 沒有注意到以上事項。合同簽署一個月內, 信望愛向迦南交付了$70萬的押金。</p>
			</td>
			<td style="width:349px;height:121px;">


				<p>信望愛經過許多禱告和認證, 得到主的呼召和應許, 要在這裡建立24小時禱告的殿。迦南回應了神的感動, 拒絕其他買主, 欣然決定賣給信望愛。李牧師相信神的應許, 認定這是神國的交易,
					毫不猶豫地簽了字。信望愛通過禁食禱告, 在短短一個月之內籌集了$70萬美元。</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:126px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2009</strong><strong>/1</strong></p>
			</td>
			<td style="width:168px;height:126px;">


				<p>信望愛禱告中心遷入。</p>
			</td>
			<td style="width:420px;height:126px;">


				<p><u>2008/12/29</u>日之前, 迦南主動提出給信望愛更多時間募款。</p>

				<p><br />
					<u>2009/1/1</u>, 信望愛在取得迦南同意後搬進了山景城聖殿。
				</p>
			</td>
			<td style="width:349px;height:126px;">
				<p><strong>[</strong><strong>利</strong><strong>24:2-3]
					</strong><strong>要吩咐以色列人，把那為點燈搗成的清橄欖油拿來給你，使燈常常點著。在會幕中法</strong><strong>柜</strong><strong>的幔子外，亞倫從晚上到早晨，必在耶和華面前經理這燈。這要作你們世世代代永遠的定例。</strong>
				</p>



				<p>信望愛依據神的話語, 一遷入就立刻拆掉門鎖, 向神承諾&quot;<strong>聖殿的門永遠敞開</strong><strong>,
					</strong><strong>祭壇的燈永遠明亮</strong>&quot;。</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:329px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2009</strong><strong>/3</strong></p>
			</td>
			<td style="width:168px;height:329px;">


				<p>信望愛禱告中心無法付清餘款；本會同意信望愛禱告中心的請求，將原本現金交易之合約修改為三年分期付款合約。</p>
			</td>
			<td style="width:420px;height:329px;">


				<p><u>2009/1/22</u>, 迦南林長老發出意向書, 大致內容是﹕信望愛餘款分三年付清; 每月支付余款的利息; 如果一個月遲交, 就從 $70 萬押金里扣除三倍的金額作為罰款;
					每年年底要付余款的三分之一, 但有三個月的寬限期; 如果在寬限期之內無法付款, 就要交罰款, 第一年 $50萬, 第二年 $100萬, 第三年 $150萬。如果信望愛不能完成交易, 迦南會從 $70萬
					的押金中扣除罰金, 未付的租金, 還有建築物修理費。剩餘的款項要等到迦南賣掉聖殿之後再付給信望愛。</p>


				&nbsp;

				<p><u>2009/2/4</u>, 雙方交涉後, 修正了意向書。同意將月租罰款定為每月利息的5%, 把每年違約金從第一年 $50 萬, 第二年 $100 萬, 第三年 $150 萬分別變成了 $25萬,
					$35萬, 和 $50萬。</p>


				&nbsp;

				<p><u>2009/2/27</u>, 雙方簽了一份新的租賃合同(Lease Agreement), 和一份可選性購買合同(Optional Purchase Agreement)。租賃合同中,
					信望愛定義為租戶, 迦南定義成為房東。房租是餘款 $450萬 相應的利息, 每月約為$1萬8千。</p>
			</td>
			<td style="width:349px;height:329px;">


				<p>信望愛在看到第一份意向書時, 立刻意識到想建立一個24小時禱告的聖殿, 前面有火一般的<br clear="all" />
					試煉在等待。在牧師的教導下, 信望愛開始集中為迦南祝福禱告。</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:77px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2010</strong><strong>/3</strong></p>
			</td>
			<td style="width:168px;height:77px;">


				<p>信望愛禱告中心未支付第二份合約所規定第一年期款項。</p>
			</td>
			<td style="width:420px;height:77px;">


				<p>因為金融風暴和聖徒認捐落空, 信望愛無法如期付款。</p>
			</td>
			<td style="width:349px;height:77px;">


				<p>聖徒們起初對建立24小時禱告中心的熱情在試煉來臨時漸漸消退, 不少聖徒的信心在這場屬靈爭戰的風暴中被動搖, 中了仇敵離間的詭計, 把單單仰望神的屬靈眼光慢慢地轉到了世界的角度上。</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:245px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2010</strong><strong>/10</strong></p>
			</td>
			<td style="width:168px;height:245px;">


				<p>經過多次協商，雙方簽署了第三份房地產買賣合同,定於 12/15/2010 Close Escrow。</p>
			</td>
			<td style="width:420px;height:245px;">


				<p><u>2009/4/5</u>, 迦南致信信望愛, 宣佈2009年簽署的可選性購買合同無效, 向信望愛禱告中心收取罰款。</p>


				&nbsp;

				<p><u>2009/5/8</u>, 迦南致信信望愛, 駁回其付款延期請求, 要求信望愛7月31日離開。</p>


				&nbsp;

				<p><u>2010/8/31</u>, 信望愛28位聖徒自發利用個人信用為教會貸款, 聯絡迦南予以延期。信望愛至此支付的房租(即余款利息)約為 $37 萬。</p>



				<p><u>2010/9/9</u>, 迦南律師僱人在聖殿和住宅大門張貼了3-day notice。</p>


				&nbsp;

				<p><u>2010/10/29</u>, 信望愛第三次和迦南簽署購買和約。迦南執意保留之前和約款項, 如果信望愛不能完成交易, 要在賣掉聖殿之後才將余款退還信望愛。信望愛存入Escrow Account
					$15萬6千 不可退還之押金。</p>
			</td>
			<td style="width:349px;height:245px;">


				<p>雖然禱告中心建堂陷入困境, 同工們抵擋不住屬靈的攻擊, 有的離開, 有的跌<br clear="all" />
					倒, 有的開始懷疑神的計劃和應許, 變得負面消極。然而因著神僕人不動搖的信心和部<br clear="all" />
					份聖徒們的順從, 神的靈一刻不停地在聖殿裡做工, 每天都有來自各地的弟兄姐妹<br clear="all" />
					得到醫治釋放, 親身經歷神。<br clear="all" />
					&nbsp;</p>



				<p>這時, 迦南的心思意念已然不再和信望愛同負一軛, 不能為建立一個24小時開放的<br clear="all" />
					禱告中心而努力奔跑了。迦南一心想速速地將地產賣出手, 對會眾有所交代<br clear="all" />
					, 卻忘記了神的聖殿神的產業的屬靈價值。</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:160px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2010</strong><strong>/</strong><strong>12</strong>
				</p>
			</td>
			<td style="width:168px;height:160px;">


				<p>信望愛禱告中心因籌款不足，未能履行第三份合約。本會同意將該合約延期至 2/15/2011。</p>
			</td>
			<td style="width:420px;height:160px;">


				<p>信望愛貸款募款受挫不能close escrow。迦南要求信望愛另行存入Escrow Account $15萬 不可退還之押金, 作為延期至2011/2/15的條件。信望愛又存入Escrow
					Account&nbsp; $10萬。</p>
			</td>
			<td style="width:349px;height:160px;">


				<p>李牧師和李師母把所有的心思意念放在了神託付他們的小羊身上, 這些小羊有的瘦弱, 有的生病, 有的被仇敵壓制得喘不過氣來。在主的眼中, 一個靈魂貴重於全世界。這兩位神僕依然堅信神的應許, 忠於職守,
					為靈魂代禱, 為地區爭戰, 為眾教會守望。</p>

				<p><br />
					迦南教會已經完全在世界的軌跡上, 用世界的方法, 從金錢的角度, 來保護自己的產業。</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:239px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2011</strong><strong>/</strong><strong>3</strong>
				</p>
			</td>
			<td style="width:168px;height:239px;">


				<p>歷經多次變更合約、延後履約日期，信望愛禱告中心仍舊未能達成付款承諾。本會要求信望愛禱告中心自動搬離。信望愛禱告中心拒絕遷出，本案進入法律程序。</p>
			</td>
			<td style="width:420px;height:239px;">


				<p><u>2011/3/9</u>, 迦南律師致信信望愛, 表示要進入法律程序。</p>
				&nbsp;

				<p><u>2011/3/10</u>, 迦南律師僱人張貼 3-day notice 在聖殿和住宅大門。</p>
				&nbsp;

				<p><u>2011/3/25</u>, 信望愛給迦南支票, 表示願意在4/1繳租金。</p>

				<p><u>2011/3/28</u>, 迦南將信望愛告上法庭, 法庭派人送傳票(Summon)給信望愛, 勒令信望愛搬離, 並在5天之內任命律師聯絡屋主或法庭。信望愛隨即任命律師。</p>

				<p><u>2011/4/13</u>, 迦南翁長老致信信望愛, 退回房租支票。</p>
				&nbsp;

				<p><u>2011/4/18</u>, 李宇珍牧師向法庭提出聲明。</p>

				<p><u>2011/5/4</u>, 迦南律師Jan Gruen向李宇珍牧師錄口供(deposition)。</p>

				<p><u>2011/5/17</u>, 迦南信望愛律師向法庭提交了案情摘要。</p>
			</td>
			<td style="width:349px;height:239px;">


				<p>[<strong>林前</strong><strong> 12:26-27]</strong><strong>若一個肢體受苦、所有的肢體就一同受苦。若一個肢體得榮耀、所有</strong><br
						clear="all" />
					<strong>的肢體就一同快樂。你們就是基督的身子，并且各自作肢體。</strong>
				</p>



				<p>信望愛聖徒在禱告時, 在異像中看到耶穌的身體上有一條深刻的傷痕在流血。多方<br clear="all" />
					禱告後蒙聖靈啟示此傷痕代表兩間教會不能合一。<br clear="all" />
					&nbsp;</p>



				<p>李牧師作為神職人員, 卻被迦南律師錄口供。<br clear="all" />
					&nbsp;</p>



				<p>李牧師堅持神的教會不應在屬世的判官前受審, 隨即答應迦南提出的要求信望愛放<br clear="all" />
					棄購買兩棟住宅的條件, 目的在於和迦南和解。</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:233px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2011/5/18</strong></p>
			</td>
			<td style="width:168px;height:233px;">


				<p>雙方在 Santa Clara 法院達成協議 (settlement); 本會於該協議中同意給予信望愛禱告中心再四個月的時間履行購買合約。</p>
			</td>
			<td style="width:420px;height:233px;">


				<p><u>2011/5/18</u>, 迦南作為原告, 信望愛作為被告到了法庭。法官有鑒於案情複雜, 主動作中間人調停和解。經過一天的談判, 迦南律師宣告和解條款, 主要內容如下﹕<br />
					<br />
					&nbsp;1) 信望愛要3天之內交出一棟住宅, 3周之內交出另一棟住宅, 只能購買聖殿;<br />
					&nbsp;2) 信望愛要交給迦南罰款 $25萬6千;<br />
					&nbsp;3) 迦南從5/18起到9/18以每月 $1萬5千 的價格將聖殿租給信望愛, 並收取 $5萬 作為security deposit; 此間迦南保證不聯絡其他買主;<br />
					&nbsp;4) 迦南與信望愛重新簽署購買和約, 購買聖殿, 保持原價, 信望愛須要再次支付不可退還押金$9萬9千。
				</p>
			</td>
			<td style="width:349px;height:233px;">


				<p>禱告中心所面臨的屬靈爭戰愈發激烈, 有更多的聖徒同工陷入誘惑。神通過牧者宣告悔改的信息, 可是部份聖徒始終不肯降服。也有聖徒們感受到聖靈的憂傷, 紛紛禁食, 呼求神讓迦南教會了解神的心意,
					不被仇敵利用讓聖靈傷心, 讓撒旦誇勝。</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:156px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2011/9/18</strong></p>
			</td>
			<td style="width:168px;height:156px;">


				<p>信望愛禱告中心終究未能履行合約。</p>
			</td>
			<td style="width:420px;height:156px;">


				<p><u>2011/8/31</u>, 迦南律師和信望愛律師經過多次商量, 寫出了和解協約, 購買和約, 和租賃和約。迦南律師要求李於宇珍牧師在和解協約上兩次簽名, 一次代表信望愛, 一次代表個人,
					並要求法庭下命令。李宇珍牧師及信望愛聖徒覺得法庭命令不公正, 提出上訴, 要求取消李牧師個人簽名。<br clear="all" />
					&nbsp;</p>



				<p><u>2011/9/18</u>, 迦南翁長老對迦南會眾宣佈和信望愛好好協商解決問題, 答應延期要求。</p>
			</td>
			<td style="width:349px;height:156px;">
				<p>一直以來, 信望愛都在積極募款, 但是始終感到阻力重重。可是在長期的屬靈爭戰之<br clear="all" />
					後, 尤其在8月份聖徒們合心地三天禁食之後, 每個聖徒都感到了屬靈環境的改變。<br clear="all" />
					信望愛得到了前所未有的關心, 幫助, 最重要的是信望愛以聖經為本的教導和對聖<br clear="all" />
					靈能力的接受得到了許多聖徒的認可。<br clear="all" />
					<br clear="all" />
					這種改變對禱告的聖徒成了極大的鼓勵, 讓我們更加認識到神的工作既不靠金錢也<br clear="all" />
					不靠經驗, 而是單單憑著信心的禱告搬動神大能的手。
				</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:161px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2011/9/23</strong></p>
			</td>
			<td style="width:168px;height:161px;">


				<p>法院依據 5/18 協議，通知信望愛禱告中心應於 5 日內搬離山景城現址。</p>
			</td>
			<td style="width:420px;height:161px;">


				<p><u>2011/9/19</u>, 迦南律師Jan Gruen發信信望愛, 要求其撤回上訴, 再交房租, 否則動用警力收回聖殿。</p>

				<p><br />
					<u>2011/9/21</u>, 迦南翁長老表示拒絕和信望愛的主內交通, 一切對話要通過律師。
				</p>

				<p><br />
					<u>2011/9/21</u>, 迦南律師表示迦南不願直接和信望愛對話, 要求信望愛不要再打擾迦南。
				</p>

				<p><br />
					<u>2011/9/23</u>, 警察在聖殿大門張貼了驅逐通知, 勒令信望愛9月29日凌晨12:01之前離開。
				</p>
			</td>
			<td style="width:349px;height:161px;">


				<p>信望愛向迦南提出免去罰款, 放棄法律手段, 恢復主內交通, 給禱告中心延期直到完成募款, 協助信望愛完成神建立灣區第一家24小時開放的禱告中心的計劃。然而被迦南斷然拒絕。<br />
					<br />
					牧師師母反復求問神﹐是否神的旨意有所改變﹐神的命令還是要他們守住神的聖殿。
				</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:216px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2011/9/29</strong></p>
			</td>
			<td style="width:168px;height:216px;">


				<p>本會依據雙方協議及法院判決，請警方出面，勸導信望愛禱告中心離開本會山景城建物。信望愛禱告中心人員離開過程平和，本會順利取回位於山景城之財產。</p>
			</td>
			<td style="width:420px;height:216px;">


				<p><u>2011/9/28</u>, 一家銀行了解到信望愛所遭遇的艱難, 大受感動, 決定為信望愛提<br clear="all" />
					供貸款, 並且出具了Letter of Intend。信望愛隨即聯絡迦南。迦南翁長老當天通<br clear="all" />
					過第三方表示當天不會聯絡警察。</p>



				<p><u>2011/9/29</u>, 迦南教會六位長老和警方一起完成了驅逐令, 在這個聖殿開放的第1001天重新上了鎖。 迦南請了保安24小時把守聖殿﹐使人不能隨便出入。</p>
			</td>
			<td style="width:349px;height:216px;">


				<p>[<strong>太</strong><strong> 10:22] </strong><strong>并且你們要為我的名，被眾人恨惡；惟有忍耐到底的必然得救。</strong></p>



				<p>從2009年1月1日到2011年9月28日, 信望愛在山景城聖殿整整1000天。9月28日晚, 也<br clear="all" />
					就是第1000天的晚上, 當我們聽說當晚不會有警察來封門時, 所有的聖徒們都奔走<br clear="all" />
					相告, 聚集在聖殿, 真心地獻上了感恩的禮拜。<br clear="all" />
					<br clear="all" />
					9月29日, 信望愛沒有像往常一樣晨禱, 只有聖徒們自發禱告, 沒有牧師講道。現在<br clear="all" />
					才知道這是神特別的帶領, 如同傳道書所講&quot;凡事都有定期，天下萬物都有定時&quot;。<br clear="all" />
					信望愛用1000天的禱告保守的祭壇在這一天被關了門﹐上了鎖﹐換成了不願透露其宗教的保安來<br clear="all" />
					把守。
				</p>
			</td>
		</tr>
		<tr>
			<td style="width:31px;height:133px;">
				<p align="center" style="margin-left:5.65pt;"><strong>2011/10</strong></p>
			</td>
			<td style="width:168px;height:133px;">


				<p>本會將遵守相關法令規定，協助信望愛禱告中心人員於 10/14/2011 以前取回個人及中心所屬財物；並依照雙方 5/18 協議，於 10/19/2011 以前返還剩餘款項。</p>
			</td>
			<td style="width:420px;height:133px;">


				<p>迦南翁長老致信信望愛, 要求信望愛在10月22日之前搬出所有物品。</p>
			</td>
			<td style="width:349px;height:133px;">


				<p><strong>[</strong><strong>林前</strong><strong> 13:13]
					</strong><strong>如今常存的有信，有望，有愛，這三樣，其中最大的是愛。</strong><br />
					<br />
					李牧師李師母今天還在帶領聖徒們懇切禱告, 為迦南代求, 請神在恩典和愛中使迦南體貼神的心意, 和信望愛合一, 建造耶穌基督的身體。
				</p>
			</td>
		</tr>
	</tbody>
</table>