<style type="text/css">
		<!--
		/* Style Definitions */

		.style5 {
			font-size: 24px
		}

		.style7 {
			font-size: 28px;
			color: #FF0000;
		}

		.style8 {
			font-size: 24
		}

		.style9 {
			font-size: 18px
		}

		.style10 {
			font-size: 20px;
			color: #FF0000;
			text-align: center;
		}
		-->
</style>


	<p style="margin-bottom: .0001pt; line-height:
normal"><span style="font-size: 24.0pt; font-family: MingLiU; color: red">媒</span><span
			style="font-size: 22.0pt; font-family: MingLiU; color: red">體</span><span style="font-size: 22.0pt; font-family: MingLiU; color: red">報</span><span
			style="font-size: 22.0pt; font-family: MingLiU; color: red">導</span></p>

	<p>
		<span style="font-size: 14.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;">
			2020-10-11 World Journal Update:<br /><a href="https://ep.worldjournal.com/SF/2020-10-11/C06">World Journal
				SF 10-11-2020</a>
		</span>
	</p>

	<p style="margin-bottom: .0001pt; line-height:
normal"><span style="font-size: 14.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;">2011-09-25</span><span style="font-size: 14.5pt; font-family: MingLiU">宏星衛視訪談</span><span
			style="font-size: 14.5pt; font-family: &quot;Arial&quot;,&quot;sans-serif&quot;"> TVHS (channel 1.9 on HDTV)
		</span><span style="font-size: 14.5pt; font-family: MingLiU">千人千元牽手成就神的旨</span><span
			style="font-size: 15.0pt; font-family: MingLiU">意</span></p>



	<p><iframe allowfullscreen="" frameborder="0" height="315" scrolling="no"
			src="https://www.youtube.com/embed/S6tpf1oS8hA?rel=0" width="420"></iframe></p>



	<p><iframe allowfullscreen="" frameborder="0" height="315" scrolling="no"
			src="https://www.youtube.com/embed/Lz51EmD6X64?rel=0" width="420"></iframe></p>



	<p><iframe allowfullscreen="" frameborder="0" height="315" scrolling="no"
			src="https://www.youtube.com/embed/kD5StrstZr4?rel=0" width="420"></iframe></p>

	<p style="margin-bottom: .0001pt; line-height:

<p class=" MsoNormal" style="margin-bottom: .0001pt; line-height:
normal"></p>
